:root {
    /* Font sizes */
    --header-nav-fs: 18px;
    --bnr-upper-row-fs: 64px;
    --bnr-lower-row-fs: 80px;
    --cookie-popup-fs: 14px;
    --search-bar-fs: 18px;
    --event-format-fs: 18px;
    --event-title-fs: 24px;
    --event-desc-fs: 18px;
    --see-more-btn-fs: 18px;
    --join-fs: 18px;
    --ad-line-fs: 56px;
    --carousel-title-fs: 40px;
    --carousel-desc-fs: 18px;

    /* Colors */
    --footer-bg-clr: #242424;
    --pink: #ae3e64;
    --link-hover: #4F6486;
}

body {
    overflow-x: hidden;
    overflow-x: clip;
    font-family: "Poppins Regular";
    min-height: 100vh;
}

.centering {
    width: min(100%, 1616px);
    margin-inline: auto;
}

.flex-sb {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.flex-ctr {
    display: flex;
    justify-content: center;
    align-items: center;
}

/* Header */

.header-primary {
    width: min(100%, 1616px);
    margin-inline: auto;
    padding-inline: 0.5em;
    padding-top: 16px;
    position: fixed;
    top: 32px;
    font-size: var(--header-nav-fs);
    text-transform: uppercase;
    color: #fff;
    left: 50%;
    translate: -50%;
}

.header-primary img:first-of-type {
    width: 70px;
    height: 70px;
    flex-shrink: 0;
}

.nav ul {
    gap: 2.5vw;
}

.nav a:hover,
.nav a:focus-visible {
    text-decoration: underline 0.08em;
    text-underline-offset: 0.2em;
}

.nav a:active {
    color: #cd3065;
}

.header-btn-group {
    gap: 0.5em;
    transition: opacity 1s ease-in-out;
}

.primary-logo {
    transition: opacity 1s ease-in-out;
}

.btn-header {
    display: flex;
    width: fit-content;
    height: 48px;
    padding: 0px 32px;
    justify-content: center;
    align-items: center;
    border-radius: 50px;
    color: inherit;
    cursor: pointer;
    transition: color border 0.3s ease-in-out;
    text-transform: uppercase;
}

.host-event-btn {
    background-color: transparent;
    border: 0.08em solid #fffefe;
}

.host-event-btn:focus-visible,
.host-event-btn:hover,
.host-event-btn:active {
    border-color: #cd3065;
    color: #cd3065;
}

.login-btn {
    --bg-color: hsla(225, 58%, 24%, 1);
    background-color: var(--bg-color);
    border: 0.08em solid var(--bg-color);
}

.login-btn:focus-visible,
.login-btn:hover,
.login-btn:active {
    --bg-color: #4f6486;
}

.signup-btn {
    --bg-color: hsl(340, 62%, 50%);
    border: 0.08em solid var(--bg-color);
    background-color: var(--bg-color);
}

.signup-btn:focus-visible,
.signup-btn:hover,
.signup-btn:active {
    --bg-color: #ae3e64;
}

.burger-menu {
    display: none;
    width: 56px;
    height: 56px;
    margin-left: 1.5em;
    cursor: pointer;
}

/* .popup-menu {
    position: fixed;
    top: 0;
    right: 0;
    width: min(100%, 390px);
    background-color: var(--footer-bg-clr);
    z-index: 10;
    transform: translateX(100%);
    color: white;
    transition: transform 1s ease;
    display: grid;
    gap: 32px;
    padding: 24px 32px;
    min-height: 100vh;
    min-height: 100dvh;
    overflow-y: auto;
} */

.popup-menu-overlay {
    position: fixed;
    top: 0;
    right: 0;
    width: min(100%, 390px);
    background-color: var(--footer-bg-clr);
    z-index: 10;
    transform: translateX(100%);
    color: white;
    transition: transform 1s ease;
    min-height: 100vh;
    min-height: 100dvh;
    overflow-y: auto;
}

.popup-menu {
    position: absolute;
    top: 0;
    width: 100%;
    display: grid;
    gap: 32px;
    padding: 24px 32px;
    padding-bottom: 10dvh;
}

.popup-menu > div:last-of-type {
    display: grid;
    align-items: end;
}

.popup-menu__logo-wrapper {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
}

.logo-small {
    width: 70px;
    height: 70px;
}

.close-burger-menu {
    width: 24px;
    aspect-ratio: 1;
    cursor: pointer;
}

.popup-menu-bottom {
    display: grid;
    gap: 32px;
}

.popup-menu-bottom div {
    width: 100%;
}

.header-svg-link {
    width: 64px;
    height: 64px;
    border-radius: 50%;
    background-color: #FFFEFE;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: all 0.3s ease;
}

.header-svg-link:hover {
    background-color: var(--link-hover);
}

.header-svg-link svg {
    background-color: inherit;
}

.header-svg-link:hover path {
    stroke: #fff;
    fill: #fff;
}

.header-svg-link.insta:hover path {
    stroke: #fff;
    fill: none;
}

.popup-menu-bottom h3 {
    font-size: 24px;
    text-transform: uppercase;
    color: var(--pink);
}

.popup-menu-bottom h4 {
    color: #888;
    text-transform: uppercase;
}

.nav-secondary ul {
    flex-direction: column;
    align-items: flex-start;
    gap: 32px;
    font-family: 'Poppins SemiBold';
    font-weight: 600;
    font-size: 24px;
    text-transform: uppercase;
}


.popup-menu__btn-wrapper .flex-sb {
    margin-bottom: 16px;
}

.popup-menu__btn-wrapper .btn-header {
    padding-inline: 48px;
}

.popup-menu__btn-wrapper .host-event-btn {
    width: 100%;
}

/* Banner */

.banner {
    height: 1040px;
    background-image: url(http://beautyevents.test/wp-content/uploads/2024/06/header-bg.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    color: #fff;
}

@media screen and (max-width: 1440px) {
    :root {
        --ad-line-fs: 56px;
    }
}

@media screen and (max-width: 1044px) {
    :root {
        --bnr-upper-row-fs: 80px;
        --search-bar-fs: 14px;
        --event-format-fs: 14px;
        --event-desc-fs: 14px;
    }

    .nav-primary {
        display: none;
    }

    .burger-menu {
        display: block;
    }

    .header-btn-group {
        margin-left: auto;
    }
}

@media screen and (max-width: 768px) {
    :root {
        --bnr-upper-row-fs: 56px;
        --bnr-lower-row-fs: 56px;
        --ad-line-fs: 32px;
        --carousel-title-fs: 32px;
        --carousel-desc-fs: 14px;
    }
    .header-primary {
        top: 48px;
    }
}

@media screen and (max-width: 690px) {
    .header-btn-group {
        display: none;
    }
}

@media screen and (max-width: 430px) {
    :root {
        --bnr-upper-row-fs: 56px;
        --bnr-lower-row-fs: 56px;
    }
}
